.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
}
.search-bar input {
  flex-grow: 1;
  border: none;
  margin-left: 10px;
  font-size: 16px;
}
.search-bar input:focus {
  outline: none;
}