# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/
*.wheel

# Flask specific
instance/
*.sqlite3

# Environment variables
.env
.env.*
environs.env

# Logs and debug files
*.log
*.out
*.err

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
*.venv
*.virtualenv
venv/
ENV/
env/
env.bak/
venv.bak/
SS

# MySQL files
*.sql
*.bak

# Docker-related files
docker-compose.override.yml
**/Dockerfile
**/docker-compose.yml
**/docker-compose.*

# IDE / Editor specific
.idea/
*.swp

# Database files
*.db
*.sqlite3
*.sql

# Environment-specific files
*.env
.env.*
.envrc
.meteor/local

# Credentials
*.pem
*.key

# Coverage files
coverage/
coverage.json

# Static files
staticfiles/
static/

# Local development files
*.local

# Gunicorn log files
gunicorn*.log

# Flask migration files
migrations/
alembic/

# Others


